<h1 class = "page-header"><%= "Tasks for " + @project.name %>
  <%= link_to 'Delete', project_path(@project), class: "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info pull-right'%>
</h1>
    <ol class= 'breadcrumb'>
      <li> <%= link_to "Projects", projects_path%> </li>
      <li> <%= link_to @project.name, project_path(@project)%> </li>
      <li class='active'>Tasks</li>
    </ol>

    <table class = "table table-striped table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Completed</th>
          <th>Due Date</th>
          <th> <%= link_to "Add Task", new_project_task_path(@project), class: "btn btn-primary pull-right" %></th>
        </tr>
      </thead>
      <tbody>
        <% @project.tasks.each do |task| %>
        <tr>
          <td> <%= task.description %></td>
          <td> <%= task.task_completed %></td>
          <td><%= task.due_date.strftime"%m/%d/%y" %> </td>
          <td class= "text-right">
            <%= link_to 'Show Task', project_task_path(@project, task), class: 'btn btn-success' %>
            <%= link_to 'Edit Task', edit_project_task_path(@project, task), class: 'btn btn-info'%>
            <%= link_to 'Delete Task', project_task_path(@project, task), class: 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
