

<h1 class="page-header"> <%="Task: " + @task.description %>
<a class= 'btn btn-info pull-right' <%= link_to 'Edit', edit_project_task_path(@project, @task) %>
</h1>
<ol class= "breadcrumb">
  <li> <%= link_to "Projects", projects_path%></li>
  <li> <%= link_to @project.name, project_path(@project) %></li>
  <li> <%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li class="active"><%=@task.description%></li>
</ol>

<dl class="dl-horizontal">
  <dt>Due Date</dt>
  <dd> <%= @task.due_date %></dd>
  <dt>Completed</dt>
  <dd> <%= @task.task_completed %></dd>
</dl>

<h4>Comments</h4>

<% @comments.each do |comment| %>
<div class= "row">
  <div class= "col-md-3">
    <% if comment.user_id == nil %>
      "(deleted user)"<br>
    <% else %>
      <%= link_to comment.user.full_name, user_path(comment.user)%><br>
    <% end %>
      <a class= "text-muted"><%= time_ago_in_words(comment.created_at) + " ago"%></a>
  </div>
  <div class= "col-md-9">
    <%= comment.description %>
  </div>
</div>
<% end %>



<div class= "row">
  <div class = "col-md-offset-3">
    <%= form_for [@project, @task, @comment] do |f| %>
      <%# f.label :description %>
      <div class = "form-group col-md-9">
        <%= f.text_area :description, size: "90%", class: "form-control" %><br>
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
