

<h1 class="page-header"> <%= @user.full_name%>
  <% unless @user.memberships.any? {|membership| current_user.memberships.map{|current_mem| current_mem.project_id}.include?(membership.project_id)} %>
    <a class= 'btn btn-info pull-right' <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</h1>
<ol class= "breadcrumb">
  <li><a href="/users">Users</a></li>
  <li class="active"><%= link_to @user.full_name, user_path%> </li>
  <li class="active"><%=@user.full_name %></li>
</ol>
<dl class="dl-horizontal">
  <dt>First Name</dt>
    <dd><%=@user.first_name%></dd>
  <dt>Last Name</dt>
    <dd><%=@user.last_name%></dd>
  <dt>Email</dt>
    <dd><a href="mailto:#"><%=@user.email%></dd>
</dl>
