
<div class= "well col-md-4 col-md-offset-4">
<h1>Sign Up for gCamp!</h1>
<!-- , :url => {:controller => "your-controller-name", :action => "your-action-name"} -->
<%= form_for @registration, html: {class: "form-horizontal"}, action: :create, url: "sign-up" do |f| %>
<%= render partial: "shared/errors", locals: {object: @registration} %>
<div class= "form-group">
  <%= f.label :first_name, class: "col-md-12" %>
  <div class= "form-controls col-md-12">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
</div>

<div class= "form-group">
  <%= f.label :last_name, class: "col-md-12" %>
  <div class= "form-controls col-md-12">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>
<div class= "form-group">
  <%= f.label :email, class: "col-md-12" %>
  <div class= "form-controls col-md-12">
    <%= f.email_field :email, class: "form-control" %>
  </div>
</div>

<div class= "form-group">
  <%= f.label :password, class: "col-md-12" %>
  <div class= "form-controls col-md-12">
    <%= f.password_field :password, class: "form-control" %>
  </div>
</div>
<div class= "form-group">
  <%= f.label :password_confirmation, class: "col-md-12" %>
  <div class= "form-controls col-md-12">
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class = "container-fluid">
    <%= f.submit "Sign Up",  class: "btn btn-primary"  %>
    <%= link_to "Cancel", "/", class: "btn btn-default" %>
  </div>
</div>
<% end %>
</div>
