<h1 class = "page-header"><%=@project.name %>
  <a class= 'btn btn-danger pull-right' <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %>
  <a class= 'btn btn-info pull-right' <%= link_to 'Edit', edit_project_path(@project)%>


</h1>
<ol class= 'breadcrumb'>
  <li><a href= '/projects'>Projects</a></li>
  <li class='active'><%=@project.name%></li>
</ol>

<%= link_to "#{ pluralize(@project.tasks.count, "Task")}", project_tasks_path(@project) %>
<%= link_to "#{ pluralize(@project.memberships.count, "Membership")}", project_memberships_path(@project) %>
