!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %a{:id => "top"}
    %title GCampFinneganHewitt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => projects_path} gCamp
        .ul-nav.navbar-nav.nav
          %li.dropdown.ul-nav
            %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
              Projects
              %b.caret
            %ul.dropdown-menu{"role" => "menu"}
              %li
                - current_user.projects.each do |project|
                  %a{:href => project_path(project)}
                    = project.name
                %a{:href => new_project_path} New Project
          %li
            %a{:href => users_path} Users

        .ul-nav.navbar-nav.navbar-right.nav
          - if current_user
            %li
              = link_to "#{current_user.full_name}", user_path(current_user)
            %li
              = link_to "Sign Out", signout_path
          - else
            %li
              = link_to "Sign Up", signup_path
            %li
              = link_to "Sign In", signin_path
    .container

      - flash.each do |type, message|
        - if type == "notice"
          %b
            %center
              .alert.alert-success= message
        - elsif type == "alert"
          %b
            %center
              .alert.alert-danger= message.html_safe

      = yield

    .container
      .page-footer
        .row
          .col-xs-offset-4.col-xs-6

            %a.button{:href => "/about"} About
            |
            = link_to "Terms", terms_path
            |
            %a.button{:href => "/faq"} FAQ
            |
            -# %a.button{:href => "/tasks"} Tasks
            -# |
            = link_to "Users", users_path
            |
            = link_to "Projects", projects_path
